mixin sidebar__link_item(icon, name, link)
   li.sidebar__link_item(onclick="location.href='#{link}'", style="cursor: pointer")
     span.sidebar__link_item__icon.fa-stack
       i.fa.fa-stack-2x.fa-circle
       i.sidebar__link_item__icon__inner.fa.fa-stack-1x.fa-inverse(class=icon)
     .sidebar__link_item__name=name



.sidebar
   img.sidebar__picture(src=require("file!../img/sidebar_picture.jpg"))
   .sidebar__name Vittorio Zaccaria
   .sidebar__address Politecnico di Milano

   ul.sidebar__link_list
     +sidebar__link_item('fa-home'           , 'Home'     , "/#/")
     +sidebar__link_item('fa-flask'          , 'Research' , "/research.html")
     +sidebar__link_item('fa-quote-left'     , 'Blog'     , "/blog.html")
     +sidebar__link_item('fa-floppy-o'       , 'Projects' , "/projects.html")
     +sidebar__link_item('fa-graduation-cap' , 'Teaching' , "/teaching.html")
     +sidebar__link_item('fa-user'           , 'CV'       , "/deposit/cv.pdf")
     +sidebar__link_item('fa-youtube-play'   , 'Videos'   , "/videos.html")
     +sidebar__link_item('fa-map-marker'     , 'Address'  , "/address.html")

   .sidebar__bottom
     .sidebar__bottom__button(onclick="location.href='http://www.linkedin.com/in/vzaccaria'", style="cursor: pointer")
       i.fa.fa-linkedin-square
     .sidebar__bottom__button(onclick="location.href='http://twitter.com/_vzaccaria_'", style="cursor: pointer")
       i.fa.fa-twitter-square
     .sidebar__bottom__button(onclick="location.href='https://plus.google.com/116322227495215922957/about'", style="cursor: pointer")
       i.fa.fa-google-plus-square
